.form{

    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color: #2343d0;
    color: rgb(252, 253, 255);
    border: none;

    
}

form{
    background-color: rgb(8, 32, 78);
   border-radius:  1em;
    margin-top: 7em;

}
.all{
    display: flex;
    flex-direction: column;
    justify-content: center;
 
}

.signin{
    text-decoration: none;
    color: white;
}