.form{

    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color: #fbfeff;
    color: rgb(8, 32, 78);
    border: none;
  

    
}

form{
    background-color: rgb(8, 32, 78);
   border-radius:  1em;
    margin-top: 7em;

}